/*----------------------------------- toolbar ----------------------------------*/

.mini-toolbar
{
    border:solid 1px #a8bdce;
    padding:5px;
    background:#cde3fe url(images/toolbar/header.gif) repeat-x 0 0;
}
.separator
{
    border-left:solid 1px #a8bdce;    
}

/*----------------------------------- button ----------------------------------*/

.mini-button
{
	background:#cde3fe url(images/button/button.gif) repeat-x;
	border:solid 1px #a8bdce;
    color:#222;
}
a:hover.mini-button
{
	background:#ffdb8e url(images/button/hover.gif) repeat-x;
	border:solid 1px #a8bdce;	         
}
.mini-button-pressed, a:hover.mini-button-pressed,
.mini-button-checked, a:hover.mini-button-checked,
.mini-button-popup, a:hover.mini-button-popup
{
	background:#ffbf34 url(images/button/pressed.gif) repeat-x;
	border-top:solid 1px #a8bdce;
}
body .mini-button-disabled, body a:hover.mini-button-disabled
{
    border: 1px solid #bfbfbf;
    color:#808080;
    background:#cecece url(images/button/disabled.gif) repeat-x 0 0px;       
}

/*----------------------------------- buttonedit ----------------------------------*/

.mini-buttonedit-icon
{
    background:url(images/buttonedit/icon1.gif) no-repeat 0 -1px;
}
.mini-buttonedit-box
{
	background:white url(images/buttonedit/text-bg.gif) repeat-x 0px top;
	border:solid 1px #608058;
}
.mini-buttonedit-button, .mini-buttonedit-disabled .mini-buttonedit-button
{
	background:#d0e5ff url(images/buttonedit/btn.gif) no-repeat 50% 50%;		
	border:#6a8ccb 1px solid;
}

body .mini-buttonedit-spinButton
{
    background:none;
    border:0;
}

.mini-buttonedit-button-hover,
.mini-buttonedit-hover .mini-buttonedit-popup
{
    background:#d0e5ff url(images/buttonedit/btn.gif) no-repeat 50% 50%;		
	border:#6a8ccb 1px solid;
}

body .mini-buttonedit-popup .mini-buttonedit-button, body .mini-buttonedit-popup a:hover.mini-buttonedit-pressed,
.mini-buttonedit-pressed .mini-buttonedit-popup
{
    background:#d0e5ff url(images/buttonedit/btn.gif) no-repeat 50% 50%;		
	border:#6a8ccb 1px solid;
}
body .mini-buttonedit-button-pressed, body a:hover.mini-buttonedit-button-pressed
{
    background:#d0e5ff url(images/buttonedit/btn.gif) no-repeat 50% 50%;		
	border:#6a8ccb 1px solid;
}
body .mini-buttonedit-focus .mini-buttonedit-box
{
    border-color: #000080;
}

/* edit icons */
.mini-buttonedit-icon
{
    width:11px;
}
.mini-buttonedit-icons-popup
{
    background:url(images/buttonedit/arrow.gif) no-repeat -1px 0px;
}
.mini-buttonedit-icons-date
{
    background:url(images/buttonedit/arrow.gif) no-repeat -1px 0px;
}

/* spin edit */

.mini-buttonedit-spin
{   
    background:none;    
    height:17px;
}
.mini-buttonedit-spinSplit
{
    display:none;
}
a:hover.mini-buttonedit-up, a:hover.mini-buttonedit-down
{    
    background:#ffdda6 url(images/buttonedit/hover.gif) no-repeat ;
}
.mini-buttonedit-up, .mini-buttonedit-down{
    background:#c7d7e8 url(images/buttonedit/arrowbg.gif) no-repeat ;
    height:8px;
    margin-bottom:1px;
}
.mini-buttonedit-up span, .mini-buttonedit-down span
{
    background:url(images/buttonedit/icon3.gif) no-repeat -6px -1px;
    border:#6787b8 1px solid;
    margin:0;
    width:14px;
    left:0;
    top:0;
    height:6px;
}
.mini-buttonedit-down span
{    
    background:url(images/buttonedit/icon3.gif) no-repeat 3px 2px;        
}
body .mini-buttonedit-spin .mini-buttonedit-button-pressed, body .mini-buttonedit-spin a:hover.mini-buttonedit-button-pressed
{    
    background:#ffbc78 url(images/buttonedit/pressed.gif) no-repeat;
	border:none;
}

/*------------------------- panel -----------------------*/
.mini-panel
{    
    border:1px solid #a4bed4;
}
.mini-panel-border
{
    border:1px solid #a4bed4;
}
.mini-panel-header
{
    height:25px;
    background:#c3d4eb url(images/panel/header.gif) repeat-x 0 0px;
    color:#000000;
    font-weight:bold;
    border-bottom:solid 1px #a4bed4;
}
.mini-panel-header-inner
{
   padding-top:4px;
}
.mini-panel-toolbar
{
    border-bottom:solid 1px #a4bed4;
    background:#cedbeb;
}

.mini-panel-footer
{
    border-top:solid 1px #a4bed4;
    background:#cedbeb;
}

/*----------------------------- window -------------------------*/
.mini-window .mini-panel-header
{
    background:#7ba4e0 url(images/window/header.gif) repeat-x 0 0px;
}
.mini-window .mini-panel-footer
{
    background:#cedbeb;
}

/*------------------- outlookbar ------------------*/
.mini-outlookbar
{
    border:1px solid #a4bed4;
}
.mini-outlookbar-border{
    border:1px solid #a4bed4;
}
.mini-outlookbar .mini-outlookbar-groupHeader
{
    background:#cde3fe url(images/panel/header.gif) repeat-x 0 0px;  
    border-color:#a4bed4;
}
.mini-outlookbar .mini-outlookbar-groupTitle
{
    color:Black;
    font-weight:normal;
}
.mini-outlookbar .mini-outlookbar-group 
{
    border-color:#a4bed4;
}
.mini-outlookbar .mini-outlookbar-groupBody
{    
    border-color:#a4bed4;
}
/* view2 */
.mini-outlookbar-view2 .mini-outlookbar-groupHeader
{
    border:solid 1px #a4bed4; 
}
.mini-outlookbar-view2 .mini-outlookbar-groupBody
{    
    background:#ddecfe;
    border:solid 1px #a4bed4;
    border-top:0;
}
/* view3 */
.mini-outlookbar-view3 .mini-outlookbar-group
{
    border:solid 1px #a4bed4; 
}

.mini-outlookbar .mini-tools-collapse
{
    width:15px;	
}
.mini-outlookbar .mini-outlookbar-expand .mini-tools-collapse
{
    background:url(images/navbar/expand.gif) no-repeat 50% 50%;   
}
.mini-outlookbar .mini-outlookbar-collapse .mini-tools-collapse
{
    background:url(images/navbar/collapse.gif) no-repeat 50% 50%;   
}

/*----------------------- splitter -----------------------*/
.mini-splitter-border
{
    border:solid 1px #99bce8;     
}
.mini-splitter .mini-splitter-pane1{
    border-color:#99bce8;
}
.mini-splitter .mini-splitter-pane2{
    border-color:#99bce8;
}

/*----------------------- layout -----------------------*/
.mini-layout
{
    
}
.mini-layout-region
{
    border:1px solid #a4bed4;
}
.mini-layout-region-header
{
    background:#cde3fe url(images/layout/header.gif) repeat-x 0 0;
    border-bottom:solid 1px #a4bed4;
}
.mini-layout-proxy
{
    border-color:#a4bed4;
    background:#cde3fe;
}
.mini-layout-proxy-hover
{
    background:#cde3fe;
}

.mini-layout-region-west .mini-tools-collapse
{
    background:url(images/layout/west.gif) no-repeat 50% 50%;
}
.mini-layout-region-east .mini-tools-collapse
{
    background:url(images/layout/east.gif) no-repeat 50% 50%;
}
.mini-layout-region-north .mini-tools-collapse
{
    background:url(images/layout/north.gif) no-repeat 50% 50%;
}
.mini-layout-region-south .mini-tools-collapse
{
    background:url(images/layout/south.gif) no-repeat 50% 50%;
}

.mini-layout-proxy-west .mini-tools-collapse
{
    background:url(images/layout/east.gif) no-repeat 50% 50%;
}
.mini-layout-proxy-east .mini-tools-collapse
{
    background:url(images/layout/west.gif) no-repeat 50% 50%;
}
.mini-layout-proxy-north .mini-tools-collapse
{
    background:url(images/layout/south.gif) no-repeat 50% 50%;
}
.mini-layout-proxy-south .mini-tools-collapse
{
    background:url(images/layout/north.gif) no-repeat 50% 50%;
}

/*------------------------- menu --------------------------------*/
.mini-menu
{
	background:#eaf2fb;	
	border:1px solid #a4bed4;	
    color:black;
}
.mini-menuitem
{
    line-height:20px;    
}
.mini-menuitem-hover
{
    border:1px solid #a4bed4;
	background:#ffdc92 url(images/menu/hover.gif) repeat-x 0 0;
}
.mini-menu-popup
{
    border:1px solid #a4bed4;
	background:#ffdc92 url(images/menu/hover.gif) repeat-x 0 0;
    border-right:1px solid transparent;    
    _border-right:1px dotted transparent;    
}
.mini-menuitem-selected
{
    border:solid 1px #a4bed4;     
    background:#ffdc92 url(images/menu/hover.gif) repeat-x 0 0;
}
.mini-menuitem-text, .mini-menuitem-text a
{
    color:black;
}
.mini-separator
{
    border-top:solid 1px #a4bed4;
}
/* menu horizontal */
.mini-menu-horizontal .mini-menu-inner
{
    background:#eaf2fb;
}
.mini-menu-horizontal .mini-menuitem-hover
{
    border:1px solid #a4bed4;
	background:#ffdc92 url(images/menu/horizontal-hover.gif) repeat-x 0 0;
}
.mini-menu-horizontal  .mini-menu-popup
{
    border:1px solid #a4bed4;
	background:#ffdc92 url(images/menu/horizontal-hover.gif) repeat-x 0 0;
    border-bottom:0px;
}

/*---------------------- listbox -----------------------------*/
.mini-listbox
{    
    background-color: #EAF2FB;
    border:#608058 1px solid;
}
.mini-listbox-inner td
{
    line-height:20px;       
}
.mini-listbox-item td{
	border-top:#EAF2FB 1px dotted;
	border-bottom:#EAF2FB 1px dotted;	
}
.mini-listbox-item-hover td{
    background:#ffdc92 url(images/menu/selected.gif) repeat-x 0 0;
	border-top:#ffc076 1px dotted;
	border-bottom:#ffc076 1px dotted;
}
.mini-listbox-item-selected td{
	background:#ffdc92 url(images/menu/selected.gif) repeat-x 0 0;
	border-top:#ffc076 1px dotted;
	border-bottom:#ffc076 1px dotted;
}
.mini-listbox-header
{
    background:#cde3fe url(images/listbox/header.gif) repeat-x 0 0;    
    border-bottom:solid 1px #a4bed4;
}

/*------------------- treegrid --------------------*/
.mini-treegrid-border
{
    background-color: #EAF2FB;
    border:#CFCFCF 1px solid;
}

.mini-treegrid-header
{
    border-bottom:none;
}
.mini-treegrid-headerInner
{
    background:#cde3fe url(images/treegrid/header.gif) repeat-x 0 0;
}
.mini-treegrid td
{
	border-bottom:#CFCFCF 1px solid;	
}
.mini-treegrid-header td
{
    border-right:solid 1px #CFCFCF;
}

.mini-treegrid-selectedNode
{
	background:#ffdc92 url(images/menu/selected.gif) repeat-x 0 0;
}
.mini-treegrid-hoverNode
{
    background:#ffdc92 url(images/menu/selected.gif) repeat-x 0 0;
}
.mini-treegrid-expand .mini-treegrid-ec-icon
{
	background-image:url(images/treegrid/expand.gif);
}
.mini-treegrid-collapse .mini-treegrid-ec-icon
{
	background-image:url(images/treegrid/collapse.gif);
}
.mini-treegrid-leaf
{
    background-image:url(images/treegrid/file.png);
}
.mini-treegrid-folder
{
    background-image:url(images/treegrid/folder.gif);
}

/*---------------------- calendar -----------------------------*/
.mini-calendar
{    
    border:1px solid #a4bed4;
}
.mini-calendar-header
{   
    background:#cde3fe url(images/calendar/header.gif) repeat-x 0 0;    
    border-bottom:solid 1px #a4bed4;    
}
.mini-calendar-footer
{
    background:#e1edfb;
    border-top:solid 1px #cde3fe;
}
.mini-calendar-tadayButton, .mini-calendar-clearButton,
.mini-calendar-okButton, .mini-calendar-cancelButton
{
	background:#cde3fe url(images/calendar/header.gif) repeat-x;
	border:solid 1px #a4bed4;	
    color:#222;
}
.mini-calendar-menu-selected, a:hover.mini-calendar-menu-selected
{
    color:#333;
    background:#cde3fe url(images/calendar/header.gif) repeat-x;
    border:solid 1px #a4bed4;
}

.mini-calendar .mini-calendar-selected
{
    color:#333;
    background:#afc6d9;
    border:0;
}
.mini-calendar .mini-calendar-today
{
    border:1px solid #C00000;
}
.mini-calendar-daysheader td{
    border-bottom:solid 1px #cde3fe;
}
.mini-calendar td.mini-calendar-weeknumber{
    color:#cde3fe;
}
a:hover.mini-calendar-menu-month{
    background:#c6ddfe;
    border:solid 1px #a4bed4;
}
a:hover.mini-calendar-menu-year
{
    background:#c6ddfe;
    border:solid 1px #a4bed4;
}

/*---------------------- tabs -----------------------------*/

.mini-tabs-leftButton, .mini-tabs-rightButton
{
    border:solid 1px #a4bed4;
    background-color:#EBEBEE;
}
a:hover.mini-tabs-leftButton,a:hover.mini-tabs-rightButton
{
    border:solid 1px #a4bed4;
    background-color:#E1E8FD;
}
/* top */
.mini-tabs-bodys
{
    border:solid 1px #a4bed4;
    border-top:0;
}
.mini-tabs-space
{
    border-bottom:solid 1px #a4bed4;
}
.mini-tabs-space2
{
    border-bottom:solid 1px #a4bed4;
}

.mini-tab
{
    background: #a4bed4 url(images/tabs/tab.gif) repeat-x 0 0;  
    border: 1px solid #a4bed4;
    color: #333;    
    
}
.mini-tab-hover
{    
    background:#ffe1a0 url(images/tabs/hover.gif) repeat-x 0 0; 
}
.mini-tab-active
{
    border-bottom:solid 1px white;
    background:#cfe4fe;  
}

/* bottom */
.mini-tabs-position-bottom .mini-tabs-space,
.mini-tabs-position-bottom .mini-tabs-space2
{
    border:0;
    border-top: 1px solid #a4bed4;
}
.mini-tabs-position-bottom .mini-tabs-bodys
{    
    border:solid 1px #a4bed4;
    border-bottom:0;
}
.mini-tabs-position-bottom .mini-tab-active
{
    border-top:solid 1px white;
    border-bottom:solid 1px #a4bed4;
}

/* left */
.mini-tabs-position-left .mini-tabs-space,
.mini-tabs-position-left .mini-tabs-space2
{
    border:0;
    border-right: 1px solid #a4bed4;
}
.mini-tabs-position-left .mini-tabs-bodys
{
    border:solid 1px #a4bed4;
    border-left:0;
}
.mini-tabs-position-left .mini-tab-active
{    
    border:solid 1px #a4bed4;
    border-right:solid 1px white;
}

/* right */
.mini-tabs-position-right .mini-tabs-space,
.mini-tabs-position-right .mini-tabs-space2
{
    border:0;
    border-left: 1px solid #a4bed4;
}
.mini-tabs-position-right .mini-tabs-bodys
{    
    border:solid 1px #a4bed4;
    border-right:0;
}
.mini-tabs-position-right .mini-tab-active
{    
    border:solid 1px #a4bed4;
    border-left:solid 1px white;
}

/*---------------------- tree -----------------------------*/

.mini-tree-selectedNode .mini-tree-nodeshow
{
    background:#ffdc91 url(images/tree/pressed.png) repeat-x;
	border:1px solid #FFB951	
}
.mini-tree-hottrack .mini-tree-node-hover
{	    
	background:#ffeec2;
	border:solid 1px #FFB951;		
}
.mini-tree-collapse .mini-tree-node-ecicon
{
    background:url(images/tree/collapse.gif) no-repeat -3px 2px;
}
.mini-tree-expand .mini-tree-node-ecicon
{
    background:url(images/tree/expand.gif) no-repeat -3px 2px;
}
/*treeline*/
.mini-tree-treeLine .mini-tree-indent{
    background:transparent url(images/tree/treeline.gif) repeat-y 8px 0; 
}
/*leaf*/
.mini-tree-treeLine .mini-tree-node-ecicon
{
    background:transparent url(images/tree/treeNodeLine.gif) no-repeat -1px 0; 
}
/*has children*/
.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon{
    background:transparent url(images/tree/expandLine.gif) no-repeat -5px 0px;
}
.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon{
    background:transparent url(images/tree/collapseLine.gif) no-repeat -1px 0px;
}
.mini-tree-treeLine .mini-tree-node-ecicon-last
{
    background:transparent url(images/tree/lastline.gif) no-repeat 0px -5px; 
}

.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-first
{
    background:transparent url(images/tree/firstExpandNode.gif) no-repeat 0px 3px;
}
.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-last
{
    background:transparent url(images/tree/lastExpandNode.gif) no-repeat 0px -4px;
}
.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-first
{
    background:transparent url(images/tree/firstCollapseNode.gif) no-repeat 0 3px;
}
.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-last
{
    background:transparent url(images/tree/lastCollapseNode.gif) no-repeat;
}

.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-firstAndlast
{
    background-position:50% 2px;
    background-image:url(images/tree/firstAndlastexpand.gif);
}
.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-firstAndlast
{
    background-position:50% 0px;
    background-image:url(images/tree/firstAndlastcollapse.gif);
}

/*------------------- grid --------------------*/
.mini-grid-headerCell
{
    background:#cde3fe url(images/grid/header.gif) repeat-x 0 0;
    border-right:#A5ACB5 1px solid;
    border-bottom:#A5ACB5 1px solid;
}
.mini-grid-footer
{
    background:#E7EAEE url(images/grid/footer.png) repeat-x 0 0;
}
.mini-grid-detailCell
{    
    padding: 8px 10px 10px;
    border-right:#A5ACB5 1px solid;
    border-bottom:#A5ACB5 1px solid;
}
.mini-grid-summaryCell
{
    padding-right:8px;
    border-top:#A5ACB5 1px solid;
    border-right:0;
}
.mini-grid-cell, .mini-grid-headerCell,
.mini-grid-filterCell, .mini-grid-summaryCell
{
    padding:4px;
    padding-left:6px;
    padding-right:6px;
    border:0;
    border-right:#A5ACB5 1px solid;
    border-bottom:#A5ACB5 1px solid;
    cursor:default;
    font-size:9pt;
    font-family: Tahoma, Verdana;      
    overflow: hidden;
}
.mini-grid-footer
{
    background:#d6e6fb;
}
.mini-grid-filterRow .mini-grid-table, .mini-grid-summaryRow .mini-grid-table {
    background: none repeat scroll 0 0 #e3effd;
}
.mini-grid-detailRow {
    background: none repeat scroll 0 0 #e3effd;
}

/*------------------- popup --------------------*/
.mini-popup{
    border:1px solid #A5ACB5;
}